parameters:
    ignoreErrors:
        -
            message: '/Unable to resolve the template type T in call to method static method Doctrine\\DBAL\\DriverManager\:\:getConnection\(\)/'
            path: %currentWorkingDirectory%/src/Command/CreateDatabaseDoctrineCommand.php
        -
            message: '/Unable to resolve the template type T in call to method static method Doctrine\\DBAL\\DriverManager\:\:getConnection\(\)/'
            path: %currentWorkingDirectory%/src/Command/DropDatabaseDoctrineCommand.php
        -
            message: '/Method Chubbyphp\\DoctrineDbServiceProvider\\Driver\\ClassMapMappingInterface\:\:configureMapping\(\) has no return typehint specified\./'
            path: %currentWorkingDirectory%/src/Driver/ClassMapMappingInterface.php
        -
            message: '/Method Chubbyphp\\DoctrineDbServiceProvider\\Registry\\DoctrineOrmManagerRegistry\:\:getRepository\(\) return type with generic interface Doctrine\\Persistence\\ObjectRepository does not specify its types\: T/'
            path: %currentWorkingDirectory%/src/Registry/DoctrineOrmManagerRegistry.php
        -
            message: '/Parameter \#1 \$className of method Doctrine\\Persistence\\ObjectManager\:\:getRepository\(\) expects class\-string<mixed>, string given\./'
            path: %currentWorkingDirectory%/src/Registry/DoctrineOrmManagerRegistry.php
        -
            message: '/Unable to resolve the template type T in call to method Doctrine\\Persistence\\ObjectManager\:\:getRepository\(\)/'
            path: %currentWorkingDirectory%/src/Registry/DoctrineOrmManagerRegistry.php
        -
            message: '/Parameter \#1 \$argument of class ReflectionClass constructor expects class\-string<T of object>\|T of object, string given\./'
            path: %currentWorkingDirectory%/src/Registry/DoctrineOrmManagerRegistry.php
        -
            message: '/PHPDoc tag @var for variable \$reflectionParentClass contains generic class ReflectionClass but does not specify its types\: T/'
            path: %currentWorkingDirectory%/src/Registry/DoctrineOrmManagerRegistry.php
        -
            message: '/Method Chubbyphp\\DoctrineDbServiceProvider\\Registry\\Psr\\DoctrineOrmManagerRegistry\:\:getRepository\(\) return type with generic interface Doctrine\\Persistence\\ObjectRepository does not specify its types\: T/'
            path: %currentWorkingDirectory%/src/Registry/Psr/DoctrineOrmManagerRegistry.php
        -
            message: '/Parameter \#1 \$className of method Doctrine\\Persistence\\ObjectManager\:\:getRepository\(\) expects class\-string<mixed>, string given\./'
            path: %currentWorkingDirectory%/src/Registry/Psr/DoctrineOrmManagerRegistry.php
        -
            message: '/Unable to resolve the template type T in call to method Doctrine\\Persistence\\ObjectManager\:\:getRepository\(\)/'
            path: %currentWorkingDirectory%/src/Registry/Psr/DoctrineOrmManagerRegistry.php
        -
            message: '/Parameter \#1 \$argument of class ReflectionClass constructor expects class\-string<T of object>\|T of object, string given\./'
            path: %currentWorkingDirectory%/src/Registry/Psr/DoctrineOrmManagerRegistry.php
        -
            message: '/PHPDoc tag @var for variable \$reflectionParentClass contains generic class ReflectionClass but does not specify its types\: T/'
            path: %currentWorkingDirectory%/src/Registry/Psr/DoctrineOrmManagerRegistry.php
        -
            message: '/Unable to resolve the template type T in call to method static method Doctrine\\DBAL\\DriverManager\:\:getConnection\(\)/'
            path: %currentWorkingDirectory%/src/ServiceFactory/DoctrineDbalServiceFactory.php
        -
            message: '/Unable to resolve the template type T in call to method static method Doctrine\\DBAL\\DriverManager\:\:getConnection\(\)/'
            path: %currentWorkingDirectory%/src/ServiceProvider/DoctrineDbalServiceProvider.php
