parameters:
    ignoreErrors:
        -
            message: '/Method Chubbyphp\\DoctrineDbServiceProvider\\Driver\\ClassMapMappingInterface\:\:configureMapping\(\) has no return typehint specified\./'
            path: %currentWorkingDirectory%/src/Driver/ClassMapMappingInterface.php
        -
            message: '/Method Chubbyphp\\DoctrineDbServiceProvider\\Driver\\ClassMapMappingInterface\:\:configureMapping\(\) has parameter \$metadata with generic class Doctrine\\ORM\\Mapping\\ClassMetadata but does not specify its types\: T/'
            path: %currentWorkingDirectory%/src/Driver/ClassMapMappingInterface.php
        -
            message: '/PHPDoc tag @var for variable \$reflectionParentClass contains generic class ReflectionClass but does not specify its types\: T/'
            path: %currentWorkingDirectory%/*
        -
            message: '/Method Chubbyphp\\DoctrineDbServiceProvider\\Registry\\DoctrineOrmManagerRegistry\:\:getManagerForClass\(\) should return Doctrine\\Persistence\\ObjectManager\|null but return statement is missing\./'
            path: %currentWorkingDirectory%/src/Registry/DoctrineOrmManagerRegistry.php
        -
            message: '/Method Chubbyphp\\DoctrineDbServiceProvider\\Registry\\Psr\\DoctrineOrmManagerRegistry\:\:getManagerForClass\(\) should return Doctrine\\Persistence\\ObjectManager\|null but return statement is missing\./'
            path: %currentWorkingDirectory%/src/Registry/Psr/DoctrineOrmManagerRegistry.php
